extends layout

block content
    div(id='map', style="height:300px;width:100%;background-color:orange")
    script(src="/javascripts/mapInit.js", type="text/javascript")
    script(src="https://maps.googleapis.com/maps/api/js?key="+locals.googleAPIKey+"&callback=initMap", async,  defer)
